<section class="platform-svg-group mt50" data-reactid="84">
                                    <div class="platform-right-1-svg-text posa tac fz12" data-reactid="85">
                                        <!-- react-text: 86 -->Patient onboarding
                                        <!-- /react-text -->
                                        <br data-reactid="87" />
                                        <!-- react-text: 88 -->&amp; monitoring setup
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111.3 126.2" class="platform-right-1-svg" data-reactid="89">
                                        <g data-reactid="90">
                                            <polyline class="st0" points="61.2,102.7 23.4,102.7 23.4,79.4   " data-reactid="91"></polyline>
                                            <g data-reactid="92">
                                                <path class="st1" d="M23.3,20.3L23.3,20.3c2.5,0,4.4-2,4.4-4.4v-3.3c0-2.5-2-4.4-4.4-4.4l0,0c-2.5,0-4.4,2-4.4,4.4v3.3 C18.8,18.4,20.8,20.3,23.3,20.3z" data-reactid="93"></path>
                                                <path class="st1" d="M35.3,32.5c0-6.7-5.4-12.1-12.1-12.1l0,0c-6.7,0-12.1,5.4-12.1,12.1v14.4h5.3v25H30v-25h5.3V32.5z" data-reactid="94"></path>
                                                <line class="st1" x1="16.6" y1="46.9" x2="16.6" y2="29.4" data-reactid="95"></line>
                                                <line class="st1" x1="30" y1="46.9" x2="30" y2="29.4" data-reactid="96"></line>
                                                <line class="st1" x1="23.1" y1="71.7" x2="23.1" y2="44.2" data-reactid="97"></line>
                                            </g>
                                            <circle class="st2" cx="82" cy="35.3" r="12.7" data-reactid="98"></circle>
                                            <circle class="st1" cx="82" cy="35.3" r="6.7" data-reactid="99"></circle>
                                            <circle class="st3" cx="16.3" cy="110.2" r="1.3" data-reactid="100"></circle>
                                            <circle class="st2" cx="22.7" cy="110.2" r="1.3" data-reactid="101"></circle>
                                            <circle class="st3" cx="29" cy="110.2" r="1.3" data-reactid="102"></circle>
                                            <circle class="st4" cx="35.3" cy="110.2" r="1.3" data-reactid="103"></circle>
                                            <circle class="st2" cx="41.7" cy="110.2" r="1.3" data-reactid="104"></circle>
                                            <circle class="st4" cx="48" cy="110.2" r="1.3" data-reactid="105"></circle>
                                            <circle class="st3" cx="10" cy="116.6" r="1.3" data-reactid="106"></circle>
                                            <circle class="st2" cx="16.3" cy="116.6" r="1.3" data-reactid="107"></circle>
                                            <circle class="st3" cx="22.7" cy="116.6" r="1.3" data-reactid="108"></circle>
                                            <circle class="st4" cx="29" cy="116.6" r="1.3" data-reactid="109"></circle>
                                            <circle class="st2" cx="35.3" cy="116.6" r="1.3" data-reactid="110"></circle>
                                            <circle class="st3" cx="41.7" cy="116.6" r="1.3" data-reactid="111"></circle>
                                            <circle class="st2" cx="48" cy="116.6" r="1.3" data-reactid="112"></circle>
                                            <circle class="st4" cx="22.7" cy="122.9" r="1.3" data-reactid="113"></circle>
                                            <circle class="st2" cx="29" cy="122.9" r="1.3" data-reactid="114"></circle>
                                            <circle class="st3" cx="35.3" cy="122.9" r="1.3" data-reactid="115"></circle>
                                            <circle class="st4" cx="41.7" cy="122.9" r="1.3" data-reactid="116"></circle>
                                            <circle class="st2" cx="48" cy="122.9" r="1.3" data-reactid="117"></circle>
                                            <g data-reactid="118">
                                                <polyline class="st1" points="67.4,106.5 70.7,106.5 74.2,91 79.3,113.6 83,97.5 85,106.5 88.1,106.5    " data-reactid="119"></polyline>
                                                <g data-reactid="120">
                                                    <circle class="st5" cx="102.2" cy="94.7" r="1.3" data-reactid="121"></circle>
                                                    <circle class="st5" cx="102.2" cy="101" r="1.3" data-reactid="122"></circle>
                                                </g>
                                                <circle class="st5" cx="102.2" cy="107.4" r="1.3" data-reactid="123"></circle>
                                                <circle class="st6" cx="102.5" cy="116" r="2.8" data-reactid="124"></circle>
                                                <rect x="61.4" y="86" class="st7" width="32.6" height="32.6" data-reactid="125"></rect>
                                                <rect x="54.9" y="79.3" class="st6" width="55.5" height="46" data-reactid="126"></rect>
                                            </g>
                                            <line class="st1" x1="82" y1="78.8" x2="82" y2="42.2" data-reactid="127"></line>
                                            <rect x="0.9" y="0.9" class="st0" width="45.1" height="78.6" data-reactid="128"></rect>
                                            <line class="st1" x1="75.1" y1="35.5" x2="35.4" y2="35.5" data-reactid="129"></line>
                                        </g>
                                    </svg>
                                    <div class="platform-right-2-svg-text posa tac fz12" data-reactid="130">
                                        <!-- react-text: 131 -->Interaction &amp;
                                        <!-- /react-text -->
                                        <br data-reactid="132" />
                                        <!-- react-text: 133 -->communication log
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 118.6 125.9" class="platform-right-2-svg" data-reactid="134">
                                        <g data-reactid="135">
                                            <g data-reactid="136">
                                                <line class="st0" x1="29.8" y1="75" x2="29.8" y2="41" data-reactid="137"></line>
                                                <line class="st0" x1="29.8" y1="98.1" x2="29.8" y2="84.4" data-reactid="138"></line>
                                                <line class="st1" x1="74.2" y1="104" x2="41.5" y2="104" data-reactid="139"></line>
                                                <line class="st2" x1="79.9" y1="79.3" x2="79.9" y2="36.3" data-reactid="140"></line>
                                                <line class="st1" x1="68.8" y1="24.7" x2="53.4" y2="24.7" data-reactid="141"></line>
                                            </g>
                                            <g data-reactid="142">
                                                <circle class="st0" cx="29.8" cy="24.6" r="23.7" data-reactid="143"></circle>
                                                <g data-reactid="144">
                                                    <g data-reactid="145">
                                                        <path class="st2" d="M22.7,28.1c0.9,3,3.7,5.1,7,5.1s6.1-2.2,7-5.1" data-reactid="146"></path>
                                                        <circle class="st3" cx="24.1" cy="18.2" r="1.7" data-reactid="147"></circle>
                                                        <circle class="st3" cx="35.5" cy="18.2" r="1.7" data-reactid="148"></circle>
                                                    </g>
                                                    <circle class="st2" cx="29.8" cy="24.6" r="16.5" data-reactid="149"></circle>
                                                </g>
                                            </g>
                                            <g data-reactid="150">
                                                <polygon class="st4" points="93.2,74.6 98.3,65.8 88.1,65.8    " data-reactid="151"></polygon>
                                                <circle class="st5" cx="48.6" cy="97.8" r="1.3" data-reactid="152"></circle>
                                                <circle class="st6" cx="54.9" cy="110.5" r="1.3" data-reactid="153"></circle>
                                                <circle class="st6" cx="54.9" cy="97.8" r="1.3" data-reactid="154"></circle>
                                                <circle class="st5" cx="54.9" cy="85.1" r="1.3" data-reactid="155"></circle>
                                                <circle class="st5" cx="61.3" cy="116.8" r="1.3" data-reactid="156"></circle>
                                                <circle class="st5" cx="61.3" cy="110.5" r="1.3" data-reactid="157"></circle>
                                                <circle class="st6" cx="61.3" cy="97.8" r="1.3" data-reactid="158"></circle>
                                                <circle class="st7" cx="61.3" cy="91.5" r="1.3" data-reactid="159"></circle>
                                                <circle class="st6" cx="61.3" cy="85.1" r="1.3" data-reactid="160"></circle>
                                                <circle class="st6" cx="67.6" cy="116.8" r="1.3" data-reactid="161"></circle>
                                                <circle class="st7" cx="67.6" cy="110.5" r="1.3" data-reactid="162"></circle>
                                                <circle class="st5" cx="67.6" cy="97.8" r="1.3" data-reactid="163"></circle>
                                                <circle class="st5" cx="67.6" cy="91.5" r="1.3" data-reactid="164"></circle>
                                                <circle class="st5" cx="67.6" cy="85.1" r="1.3" data-reactid="165"></circle>
                                                <polyline class="st0" points="101.1,108 101.1,119.7 74.2,119.7 74.2,80.3 101.1,80.3 101.1,100.2     " data-reactid="166"></polyline>
                                                <polyline class="st0" points="106.5,94.7 106.5,85.7 101.3,85.7    " data-reactid="167"></polyline>
                                                <polyline class="st0" points="79.6,120 79.6,125 106.5,125 106.5,102.9     " data-reactid="168"></polyline>
                                                <path class="st1" d="M98.9,110.2l-3.9-3.9l18-18c1.1-1.1,2.8-1.1,3.9,0l0,0c1.1,1.1,1.1,2.8,0,3.9L98.9,110.2z" data-reactid="169"></path>
                                                <polygon class="st1" points="93.6,111.6 98.9,110.2 95.1,106.4     " data-reactid="170"></polygon>
                                                <line class="st1" x1="111.4" y1="90.1" x2="115.2" y2="93.9" data-reactid="171"></line>
                                                <line class="st1" x1="108.9" y1="92.5" x2="112.7" y2="96.4" data-reactid="172"></line>
                                                <line class="st1" x1="89.2" y1="111.8" x2="79.1" y2="111.8" data-reactid="173"></line>
                                                <line class="st1" x1="91.6" y1="104" x2="79.1" y2="104" data-reactid="174"></line>
                                                <line class="st1" x1="96.5" y1="96.3" x2="79.1" y2="96.3" data-reactid="175"></line>
                                                <line class="st1" x1="96.5" y1="88.5" x2="79.1" y2="88.5" data-reactid="176"></line>
                                            </g>
                                            <circle class="st8" cx="5.6" cy="103.7" r="4.7" data-reactid="177"></circle>
                                            <circle class="st8" cx="29.8" cy="103.7" r="4.7" data-reactid="178"></circle>
                                            <line class="st8" x1="5.6" y1="99" x2="5.6" y2="84.4" data-reactid="179"></line>
                                            <circle class="st8" cx="5.6" cy="79.7" r="4.7" data-reactid="180"></circle>
                                            <circle class="st8" cx="29.8" cy="79.7" r="4.7" data-reactid="181"></circle>
                                            <line class="st8" x1="10.2" y1="79.7" x2="24.3" y2="79.7" data-reactid="182"></line>
                                            <line class="st0" x1="25.1" y1="104" x2="10.2" y2="104" data-reactid="183"></line>
                                            <circle class="st1" cx="29.8" cy="103.7" r="11.5" data-reactid="184"></circle>
                                            <g data-reactid="185">
                                                <circle class="st1" cx="79.9" cy="24.7" r="11.1" data-reactid="186"></circle>
                                                <circle class="st7" cx="79.9" cy="24.7" r="5.1" data-reactid="187"></circle>
                                            </g>
                                        </g>
                                    </svg>
                                    <div class="platform-right-3-svg-text posa tac fz12" data-reactid="188">
                                        <!-- react-text: 189 -->Installation &amp;
                                        <!-- /react-text -->
                                        <br data-reactid="190" />
                                        <!-- react-text: 191 -->removal
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.4 122.7" class="platform-right-3-svg" data-reactid="192">
                                        <g data-reactid="193">
                                            <path class="st0" d="M111.7,99.6c1.1-1.7,1.8-3.5,2.3-5.5h5.9v-7.6H114c-0.4-2-1.2-3.8-2.3-5.5l4.1-4.1l-5.4-5.4l-4.1,4.1 c-1.7-1.1-3.5-1.8-5.5-2.3v-5.9h-7.6v5.9c-2,0.4-3.8,1.2-5.5,2.3l-4.1-4.1l-5.4,5.4l4.1,4.1c-1.1,1.7-1.8,3.5-2.3,5.5h-5.9v7.6H80 c0.4,2,1.2,3.8,2.3,5.5l-4.1,4.1l5.4,5.4l4.1-4.1c1.7,1.1,3.5,1.8,5.5,2.3v5.9h7.6v-5.9c2-0.4,3.8-1.2,5.5-2.3" data-reactid="194"></path>
                                            <path class="st1" d="M116.2,105.1L105,94c0.5-1.1,0.8-2.3,0.8-3.6c0-4.8-3.9-8.7-8.7-8.7c-1.3,0-2.5,0.3-3.7,0.8l6.7,6.7l-4.3,4.3 l-6.7-6.7c-0.5,1.1-0.8,2.3-0.8,3.7c0,4.8,3.9,8.7,8.7,8.7c1.3,0,2.5-0.3,3.6-0.8l11.2,11.2c-0.5,1.1-0.8,2.3-0.8,3.6 c0,4.8,3.9,8.7,8.7,8.7c1.3,0,2.5-0.3,3.7-0.8l-6.7-6.7l4.3-4.3l6.7,6.7c0.5-1.1,0.8-2.3,0.8-3.7c0-4.8-3.9-8.7-8.7-8.7 C118.5,104.4,117.3,104.6,116.2,105.1z" data-reactid="195"></path>
                                            <line class="st2" x1="10.1" y1="14.5" x2="34.9" y2="14.5" data-reactid="196"></line>
                                            <circle class="st2" cx="39.5" cy="14.8" r="4.7" data-reactid="197"></circle>
                                            <circle class="st2" cx="5.6" cy="14.8" r="4.7" data-reactid="198"></circle>
                                            <path class="st3" d="M73.6,17.9l-7.7-7.7h-9.1l0-9.3H22.1v27.6h60.7v-5.8c0-2.6-2.1-4.8-4.8-4.8H73.6z" data-reactid="199"></path>
                                            <polygon class="st3" points="61.3,13.7 64.5,13.7 68.8,18 61.3,18  " data-reactid="200"></polygon>
                                            <circle class="st4" cx="73.5" cy="28.4" r="5.1" data-reactid="201"></circle>
                                            <ellipse class="st5" cx="73.5" cy="28.4" rx="1.3" ry="1.3" data-reactid="202"></ellipse>
                                            <line class="st6" x1="56.8" y1="10.2" x2="56.8" y2="28.3" data-reactid="203"></line>
                                            <circle class="st2" cx="39.6" cy="90.3" r="10.3" data-reactid="204"></circle>
                                            <polyline class="st7" points="35.1,89.4 39.8,94.2 61.3,72.7   " data-reactid="205"></polyline>
                                            <g data-reactid="206">
                                                <polygon class="st8" points="97,60.4 102.1,51.5 91.9,51.5     " data-reactid="207"></polygon>
                                                <polygon class="st8" points="97,46.5 102.1,37.6 91.9,37.6     " data-reactid="208"></polygon>
                                            </g>
                                            <circle class="st4" cx="30.9" cy="30.1" r="5.1" data-reactid="209"></circle>
                                            <ellipse class="st5" cx="30.9" cy="30.1" rx="1.3" ry="1.3" data-reactid="210"></ellipse>
                                            <g data-reactid="211">
                                                <circle class="st9" cx="57.3" cy="36.5" r="1.3" data-reactid="212"></circle>
                                                <circle class="st8" cx="50.9" cy="36.5" r="1.3" data-reactid="213"></circle>
                                                <circle class="st10" cx="44.6" cy="36.5" r="1.3" data-reactid="214"></circle>
                                                <circle class="st10" cx="63.6" cy="42.9" r="1.3" data-reactid="215"></circle>
                                                <circle class="st9" cx="57.3" cy="42.9" r="1.3" data-reactid="216"></circle>
                                                <circle class="st9" cx="50.9" cy="42.9" r="1.3" data-reactid="217"></circle>
                                                <circle class="st8" cx="44.6" cy="42.9" r="1.3" data-reactid="218"></circle>
                                                <circle class="st9" cx="50.9" cy="49.2" r="1.3" data-reactid="219"></circle>
                                                <circle class="st10" cx="44.6" cy="49.2" r="1.3" data-reactid="220"></circle>
                                                <circle class="st9" cx="57.3" cy="55.5" r="1.3" data-reactid="221"></circle>
                                                <circle class="st8" cx="50.9" cy="55.5" r="1.3" data-reactid="222"></circle>
                                                <circle class="st10" cx="44.6" cy="55.5" r="1.3" data-reactid="223"></circle>
                                                <circle class="st10" cx="50.9" cy="61.9" r="1.3" data-reactid="224"></circle>
                                                <circle class="st9" cx="44.6" cy="61.9" r="1.3" data-reactid="225"></circle>
                                            </g>
                                            <line class="st2" x1="39.9" y1="19.4" x2="39.9" y2="80" data-reactid="226"></line>
                                            <line class="st2" x1="10.2" y1="14.7" x2="34.9" y2="14.7" data-reactid="227"></line>
                                            <circle class="st11" cx="39.5" cy="14.8" r="4.7" data-reactid="228"></circle>
                                            <line class="st2" x1="50" y1="90.3" x2="74.2" y2="90.3" data-reactid="229"></line>
                                        </g>
                                    </svg>
                                    <div class="platform-right-4-svg-text posa tac fz12" data-reactid="230">Support portal</div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111.7 125.8" class="platform-right-4-svg" data-reactid="231">
                                        <circle class="st0" cx="14.2" cy="65.5" r="12.7" data-reactid="232"></circle>
                                        <circle class="st1" cx="14.2" cy="65.5" r="6.7" data-reactid="233"></circle>
                                        <g data-reactid="234">
                                            <g data-reactid="235">
                                                <path class="st2" d="M75.4,69.2V58.9c0-9.3-7.5-16.8-16.8-16.8l0,0c-9.3,0-16.8,7.5-16.8,16.8v11.6c0,7.9,5.5,14.6,12.9,16.4" data-reactid="236"></path>
                                                <circle class="st2" cx="58.5" cy="87.3" r="3.2" data-reactid="237"></circle>
                                                <path class="st2" d="M51.5,73.2c0.9,3,3.7,5.1,7,5.1s6.1-2.2,7-5.1" data-reactid="238"></path>
                                                <path class="st2" d="M41.7,60.6c-0.1,0-0.1,0-0.2,0c-2.4,0-4.3,1.9-4.3,4.3c0,2.4,1.9,4.3,4.3,4.3c0.1,0,0.1,0,0.2,0" data-reactid="239"></path>
                                                <path class="st2" d="M75.5,69.2c0.1,0,0.1,0,0.2,0c2.4,0,4.3-1.9,4.3-4.3c0-2.4-1.9-4.3-4.3-4.3c-0.1,0-0.1,0-0.2,0" data-reactid="240"></path>
                                                <circle class="st3" cx="53" cy="63.3" r="1.7" data-reactid="241"></circle>
                                                <circle class="st3" cx="64.3" cy="63.3" r="1.7" data-reactid="242"></circle>
                                            </g>
                                            <path class="st1" d="M14.6,58.6c3.3-21.4,21.8-37.7,44-37.7c24.6,0,44.6,20,44.6,44.6s-20,44.6-44.6,44.6 c-22.3,0-40.8-16.4-44-37.7" data-reactid="243"></path>
                                        </g>
                                        <circle class="st4" cx="103.2" cy="65.4" r="6.7" data-reactid="244"></circle>
                                        <g data-reactid="245">
                                            <g data-reactid="246">
                                                <circle class="st5" cx="5.6" cy="5.6" r="4.7" data-reactid="247"></circle>
                                                <line class="st5" x1="8.9" y1="8.8" x2="31" y2="30.7" data-reactid="248"></line>
                                                <circle class="st6" cx="30.9" cy="30.6" r="4.7" data-reactid="249"></circle>
                                            </g>
                                            <g data-reactid="250">
                                                <circle class="st6" cx="86.4" cy="30.8" r="4.7" data-reactid="251"></circle>
                                            </g>
                                        </g>
                                        <g data-reactid="252">
                                            <g data-reactid="253">
                                                <circle class="st5" cx="106.2" cy="120.2" r="4.7" data-reactid="254"></circle>
                                                <line class="st5" x1="102.8" y1="116.9" x2="85.9" y2="100.3" data-reactid="255"></line>
                                                <circle class="st6" cx="86" cy="100.3" r="4.7" data-reactid="256"></circle>
                                            </g>
                                            <g data-reactid="257">
                                                <circle class="st6" cx="30.6" cy="100.2" r="4.7" data-reactid="258"></circle>
                                            </g>
                                        </g>
                                        <g data-reactid="259">
                                            <polygon class="st0" points="100.7,16.1 90.7,18.8 98,26.1   " data-reactid="260"></polygon>
                                        </g>
                                    </svg>
                                    <div class="platform-right-5-svg-text posa tac fz12" data-reactid="261">
                                        <!-- react-text: 262 -->Reconditioning
                                        <!-- /react-text -->
                                        <br data-reactid="263" />
                                        <!-- react-text: 264 -->details
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.1 117.7" class="platform-right-5-svg" data-reactid="265">
                                        <g data-reactid="266">
                                            <rect x="52.1" y="4.7" class="st0" width="48.7" height="36.7" data-reactid="267"></rect>
                                            <path class="st1" d="M66,34c-1.3-3.4-4-6.2-7.5-7.4c3.4-1.3,6.2-4,7.5-7.4c1.3,3.4,4,6.2,7.5,7.4C70,27.8,67.3,30.5,66,34z" data-reactid="268"></path>
                                            <path class="st1" d="M84.1,20.9c-1.7-4.6-5.4-8.3-10.1-10c4.7-1.7,8.4-5.4,10.1-10c1.7,4.6,5.4,8.3,10.1,10 C89.5,12.6,85.8,16.3,84.1,20.9z" data-reactid="269"></path>
                                            <path class="st1" d="M96,49.4c-2.1-5.6-6.6-10.1-12.2-12.1c5.6-2.1,10.1-6.5,12.2-12.1c2.1,5.6,6.6,10.1,12.2,12.1 C102.5,39.3,98.1,43.8,96,49.4z" data-reactid="270"></path>
                                            <circle class="st2" cx="63.4" cy="71.8" r="1.3" data-reactid="271"></circle>
                                            <circle class="st3" cx="69.8" cy="71.8" r="1.3" data-reactid="272"></circle>
                                            <circle class="st2" cx="82.5" cy="71.8" r="1.3" data-reactid="273"></circle>
                                            <circle class="st3" cx="88.8" cy="71.8" r="1.3" data-reactid="274"></circle>
                                            <circle class="st4" cx="95.1" cy="71.8" r="1.3" data-reactid="275"></circle>
                                            <circle class="st4" cx="63.4" cy="78.2" r="1.3" data-reactid="276"></circle>
                                            <circle class="st3" cx="69.8" cy="78.2" r="1.3" data-reactid="277"></circle>
                                            <circle class="st2" cx="76.1" cy="78.2" r="1.3" data-reactid="278"></circle>
                                            <circle class="st3" cx="82.5" cy="78.2" r="1.3" data-reactid="279"></circle>
                                            <circle class="st4" cx="88.8" cy="78.2" r="1.3" data-reactid="280"></circle>
                                            <circle class="st3" cx="63.4" cy="84.5" r="1.3" data-reactid="281"></circle>
                                            <circle class="st4" cx="69.8" cy="84.5" r="1.3" data-reactid="282"></circle>
                                            <circle class="st3" cx="76.1" cy="84.5" r="1.3" data-reactid="283"></circle>
                                            <circle class="st2" cx="82.5" cy="84.5" r="1.3" data-reactid="284"></circle>
                                            <circle class="st3" cx="88.8" cy="84.5" r="1.3" data-reactid="285"></circle>
                                            <circle class="st2" cx="95.1" cy="84.5" r="1.3" data-reactid="286"></circle>
                                            <circle class="st3" cx="101.5" cy="84.5" r="1.3" data-reactid="287"></circle>
                                            <circle class="st2" cx="63.4" cy="90.9" r="1.3" data-reactid="288"></circle>
                                            <circle class="st3" cx="69.8" cy="90.9" r="1.3" data-reactid="289"></circle>
                                            <circle class="st3" cx="76.1" cy="90.9" r="1.3" data-reactid="290"></circle>
                                            <circle class="st3" cx="63.4" cy="97.2" r="1.3" data-reactid="291"></circle>
                                            <circle class="st2" cx="69.8" cy="97.2" r="1.3" data-reactid="292"></circle>
                                            <circle class="st3" cx="76.1" cy="97.2" r="1.3" data-reactid="293"></circle>
                                            <circle class="st2" cx="82.5" cy="97.2" r="1.3" data-reactid="294"></circle>
                                            <circle class="st3" cx="88.8" cy="97.2" r="1.3" data-reactid="295"></circle>
                                            <circle class="st2" cx="63.4" cy="103.6" r="1.3" data-reactid="296"></circle>
                                            <circle class="st3" cx="69.8" cy="103.6" r="1.3" data-reactid="297"></circle>
                                            <circle class="st4" cx="76.1" cy="103.6" r="1.3" data-reactid="298"></circle>
                                            <circle class="st3" cx="82.5" cy="103.6" r="1.3" data-reactid="299"></circle>
                                            <circle class="st3" cx="63.4" cy="109.9" r="1.3" data-reactid="300"></circle>
                                            <circle class="st2" cx="69.8" cy="109.9" r="1.3" data-reactid="301"></circle>
                                            <circle class="st3" cx="76.1" cy="109.9" r="1.3" data-reactid="302"></circle>
                                            <circle class="st3" cx="82.5" cy="109.9" r="1.3" data-reactid="303"></circle>
                                            <circle class="st2" cx="88.8" cy="109.9" r="1.3" data-reactid="304"></circle>
                                            <circle class="st4" cx="95.1" cy="109.9" r="1.3" data-reactid="305"></circle>
                                            <line class="st0" x1="35.4" y1="25.1" x2="52.1" y2="25.1" data-reactid="306"></line>
                                            <circle class="st4" cx="63.4" cy="116.2" r="1.3" data-reactid="307"></circle>
                                            <circle class="st5" cx="28.7" cy="25.1" r="12.7" data-reactid="308"></circle>
                                            <circle class="st3" cx="76.1" cy="116.2" r="1.3" data-reactid="309"></circle>
                                            <g data-reactid="310">
                                                <circle class="st6" cx="28.7" cy="25.1" r="6.7" data-reactid="311"></circle>
                                            </g>
                                            <polyline class="st6" points="13.3,98 16.7,98 20.2,82.5 25.3,105.1 28.9,89 31,98 34,98  " data-reactid="312"></polyline>
                                            <g data-reactid="313">
                                                <circle class="st7" cx="48.2" cy="86.2" r="1.3" data-reactid="314"></circle>
                                                <circle class="st7" cx="48.2" cy="92.5" r="1.3" data-reactid="315"></circle>
                                            </g>
                                            <circle class="st7" cx="48.2" cy="98.8" r="1.3" data-reactid="316"></circle>
                                            <circle class="st8" cx="48.5" cy="107.5" r="2.8" data-reactid="317"></circle>
                                            <rect x="7.4" y="77.5" class="st0" width="32.6" height="32.6" data-reactid="318"></rect>
                                            <rect x="0.9" y="70.8" class="st8" width="55.5" height="46" data-reactid="319"></rect>
                                            <line class="st8" x1="28.7" y1="70.2" x2="28.7" y2="31.8" data-reactid="320"></line>
                                        </g>
                                    </svg>
                                    <div class="platform-left-1-svg-text posa tac fz12" data-reactid="321">
                                        <!-- react-text: 322 -->Asset level inventory
                                        <!-- /react-text -->
                                        <br data-reactid="323" />
                                        <!-- react-text: 324 -->managment
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.4 123.3" class="platform-left-1-svg" data-reactid="325">
                                        <g data-reactid="326">
                                            <g data-reactid="327">
                                                <circle class="st0" cx="66.1" cy="121.6" r="1.3" data-reactid="328"></circle>
                                                <circle class="st1" cx="78.8" cy="121.6" r="1.3" data-reactid="329"></circle>
                                                <circle class="st1" cx="47.1" cy="115.3" r="1.3" data-reactid="330"></circle>
                                                <circle class="st1" cx="53.5" cy="115.3" r="1.3" data-reactid="331"></circle>
                                                <circle class="st0" cx="66.1" cy="115.3" r="1.3" data-reactid="332"></circle>
                                                <circle class="st2" cx="72.5" cy="115.3" r="1.3" data-reactid="333"></circle>
                                                <circle class="st0" cx="78.8" cy="115.3" r="1.3" data-reactid="334"></circle>
                                                <circle class="st1" cx="85.2" cy="115.3" r="1.3" data-reactid="335"></circle>
                                                <circle class="st0" cx="47.1" cy="108.9" r="1.3" data-reactid="336"></circle>
                                                <circle class="st2" cx="53.5" cy="108.9" r="1.3" data-reactid="337"></circle>
                                                <circle class="st0" cx="59.8" cy="108.9" r="1.3" data-reactid="338"></circle>
                                                <circle class="st1" cx="66.1" cy="108.9" r="1.3" data-reactid="339"></circle>
                                                <circle class="st1" cx="72.5" cy="108.9" r="1.3" data-reactid="340"></circle>
                                                <circle class="st1" cx="78.8" cy="108.9" r="1.3" data-reactid="341"></circle>
                                                <circle class="st1" cx="85.2" cy="108.9" r="1.3" data-reactid="342"></circle>
                                                <circle class="st0" cx="91.5" cy="108.9" r="1.3" data-reactid="343"></circle>
                                                <polyline class="st3" points="76,42.9 76,102.4 41,102.4     " data-reactid="344"></polyline>
                                                <g data-reactid="345">
                                                    <rect x="0.9" y="82.4" class="st3" width="40" height="40" data-reactid="346"></rect>
                                                    <line class="st3" x1="8.9" y1="122.4" x2="8.9" y2="82.4" data-reactid="347"></line>
                                                    <line class="st3" x1="16.9" y1="122.4" x2="16.9" y2="82.4" data-reactid="348"></line>
                                                    <line class="st3" x1="24.9" y1="122.4" x2="24.9" y2="82.4" data-reactid="349"></line>
                                                    <line class="st3" x1="32.9" y1="122.4" x2="32.9" y2="82.4" data-reactid="350"></line>
                                                    <line class="st3" x1="40.9" y1="90.4" x2="0.9" y2="90.4" data-reactid="351"></line>
                                                    <line class="st3" x1="40.9" y1="98.4" x2="0.9" y2="98.4" data-reactid="352"></line>
                                                    <line class="st3" x1="40.9" y1="106.4" x2="0.9" y2="106.4" data-reactid="353"></line>
                                                    <line class="st3" x1="40.9" y1="114.4" x2="0.9" y2="114.4" data-reactid="354"></line>
                                                </g>
                                                <line class="st3" x1="16.6" y1="114.1" x2="9.7" y2="107.2" data-reactid="355"></line>
                                                <line class="st3" x1="24.6" y1="98.2" x2="17.6" y2="91.3" data-reactid="356"></line>
                                                <line class="st3" x1="40.6" y1="98.2" x2="33.7" y2="91.3" data-reactid="357"></line>
                                                <line class="st3" x1="8.7" y1="98.2" x2="1.7" y2="91.3" data-reactid="358"></line>
                                                <line class="st3" x1="32.7" y1="114.1" x2="25.7" y2="107.2" data-reactid="359"></line>
                                            </g>
                                            <g data-reactid="360">
                                                <polygon class="st0" points="89.1,49.8 94.2,58.7 83.9,58.7    " data-reactid="361"></polygon>
                                                <polygon class="st0" points="89.1,64.7 94.2,73.7 83.9,73.7    " data-reactid="362"></polygon>
                                            </g>
                                            <circle class="st0" cx="91.7" cy="12.4" r="1.3" data-reactid="363"></circle>
                                            <circle class="st2" cx="85.4" cy="12.4" r="1.3" data-reactid="364"></circle>
                                            <circle class="st1" cx="79" cy="12.4" r="1.3" data-reactid="365"></circle>
                                            <circle class="st2" cx="72.7" cy="12.4" r="1.3" data-reactid="366"></circle>
                                            <circle class="st0" cx="66.4" cy="12.4" r="1.3" data-reactid="367"></circle>
                                            <circle class="st2" cx="60" cy="12.4" r="1.3" data-reactid="368"></circle>
                                            <circle class="st2" cx="91.7" cy="18.8" r="1.3" data-reactid="369"></circle>
                                            <circle class="st0" cx="85.4" cy="18.8" r="1.3" data-reactid="370"></circle>
                                            <circle class="st1" cx="79" cy="18.8" r="1.3" data-reactid="371"></circle>
                                            <circle class="st0" cx="72.7" cy="18.8" r="1.3" data-reactid="372"></circle>
                                            <circle class="st1" cx="66.4" cy="18.8" r="1.3" data-reactid="373"></circle>
                                            <circle class="st0" cx="60" cy="18.8" r="1.3" data-reactid="374"></circle>
                                            <circle class="st1" cx="91.7" cy="25.1" r="1.3" data-reactid="375"></circle>
                                            <circle class="st2" cx="85.4" cy="25.1" r="1.3" data-reactid="376"></circle>
                                            <circle class="st0" cx="79" cy="25.1" r="1.3" data-reactid="377"></circle>
                                            <circle class="st1" cx="72.7" cy="25.1" r="1.3" data-reactid="378"></circle>
                                            <circle class="st2" cx="66.4" cy="25.1" r="1.3" data-reactid="379"></circle>
                                            <circle class="st0" cx="60" cy="25.1" r="1.3" data-reactid="380"></circle>
                                            <line class="st3" x1="16.9" y1="82.4" x2="16.9" y2="62.6" data-reactid="381"></line>
                                            <circle class="st0" cx="17.2" cy="55.9" r="12.7" data-reactid="382"></circle>
                                            <line class="st4" x1="23.6" y1="22.3" x2="48.4" y2="22.3" data-reactid="383"></line>
                                            <line class="st4" x1="16.9" y1="49.2" x2="16.9" y2="28.6" data-reactid="384"></line>
                                            <polyline class="st4" points="103,36.7 103,0.9 48.9,0.9 48.9,36.7   " data-reactid="385"></polyline>
                                            <rect x="53.2" y="5.2" class="st4" width="45.5" height="27.2" data-reactid="386"></rect>
                                            <polygon class="st4" points="70,36.9 70,38.6 81.9,38.6 81.9,36.9 108.5,36.9 108.5,42.9 43.4,42.9 43.4,36.9  " data-reactid="387"></polygon>
                                            <circle class="st4" cx="16.9" cy="21.9" r="6.7" data-reactid="388"></circle>
                                            <circle class="st4" cx="16.9" cy="55.9" r="6.7" data-reactid="389"></circle>
                                        </g>
                                    </svg>
                                    <div class="platform-left-2-svg-text posa tac fz12" data-reactid="390">
                                        <!-- react-text: 391 -->Integrated
                                        <!-- /react-text -->
                                        <br data-reactid="392" />
                                        <!-- react-text: 393 -->shipping platform
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 111.1 123.9" class="platform-left-2-svg" data-reactid="394">
                                        <g data-reactid="395">
                                            <line class="st0" x1="29.2" y1="27.6" x2="102.9" y2="27.6" data-reactid="396"></line>
                                            <line class="st0" x1="49.2" y1="34.9" x2="102.9" y2="34.9" data-reactid="397"></line>
                                            <line class="st0" x1="102.9" y1="42.3" x2="49.2" y2="42.3" data-reactid="398"></line>
                                            <g data-reactid="399">
                                                <circle class="st1" cx="72.4" cy="63.5" r="1.3" data-reactid="400"></circle>
                                                <circle class="st2" cx="72.4" cy="69.8" r="1.3" data-reactid="401"></circle>
                                                <circle class="st2" cx="66.1" cy="63.5" r="1.3" data-reactid="402"></circle>
                                                <circle class="st3" cx="66.1" cy="69.8" r="1.3" data-reactid="403"></circle>
                                                <circle class="st1" cx="66.1" cy="76.2" r="1.3" data-reactid="404"></circle>
                                                <circle class="st1" cx="66.1" cy="82.5" r="1.3" data-reactid="405"></circle>
                                                <circle class="st3" cx="66.1" cy="88.8" r="1.3" data-reactid="406"></circle>
                                                <circle class="st1" cx="66.1" cy="95.2" r="1.3" data-reactid="407"></circle>
                                                <circle class="st1" cx="59.7" cy="63.5" r="1.3" data-reactid="408"></circle>
                                                <circle class="st2" cx="59.7" cy="69.8" r="1.3" data-reactid="409"></circle>
                                                <circle class="st2" cx="59.7" cy="76.2" r="1.3" data-reactid="410"></circle>
                                                <circle class="st3" cx="59.7" cy="82.5" r="1.3" data-reactid="411"></circle>
                                            </g>
                                            <rect x="41.9" y="13.4" class="st4" width="68.4" height="43.1" data-reactid="412"></rect>
                                            <polyline class="st4" points="41.9,12.8 41.9,4.5 110.3,4.5 110.3,12.8   " data-reactid="413"></polyline>
                                            <rect x="49.2" y="20.2" class="st5" width="53.8" height="29.4" data-reactid="414"></rect>
                                            <line class="st0" x1="95.3" y1="20.2" x2="95.3" y2="49.7" data-reactid="415"></line>
                                            <line class="st0" x1="87.6" y1="20.2" x2="87.6" y2="49.7" data-reactid="416"></line>
                                            <line class="st0" x1="79.9" y1="20.2" x2="79.9" y2="49.7" data-reactid="417"></line>
                                            <line class="st0" x1="72.2" y1="20.2" x2="72.2" y2="49.7" data-reactid="418"></line>
                                            <line class="st0" x1="64.5" y1="20.2" x2="64.5" y2="49.7" data-reactid="419"></line>
                                            <line class="st0" x1="56.9" y1="20.2" x2="56.9" y2="49.7" data-reactid="420"></line>
                                            <line class="st4" x1="60.5" y1="0.9" x2="60.5" y2="7.7" data-reactid="421"></line>
                                            <line class="st4" x1="91.4" y1="0.9" x2="91.4" y2="7.7" data-reactid="422"></line>
                                            <g data-reactid="423">
                                                <g data-reactid="424">
                                                    <line class="st6" x1="13.2" y1="23.2" x2="21.4" y2="31.4" data-reactid="425"></line>
                                                    <line class="st6" x1="13.4" y1="31.2" x2="21.1" y2="23.4" data-reactid="426"></line>
                                                </g>
                                                <circle class="st5" cx="17.3" cy="27.3" r="11.4" data-reactid="427"></circle>
                                            </g>
                                            <g data-reactid="428">
                                                <g data-reactid="429">
                                                    <polygon class="st6" points="17.7,92 0.9,102.3 0.9,105.6 3.6,105.6 3.6,121.6 7.5,121.6 8.6,121.6 8.6,111 16.1,111 16.1,121.6 26.8,121.6 31.9,121.6 31.9,105.6 34.6,105.6 34.6,102.3 34.6,102.3       " data-reactid="430"></polygon>
                                                    <circle class="st6" cx="17.7" cy="102.2" r="2.8" data-reactid="431"></circle>
                                                    <rect x="21.1" y="111" class="st6" width="5.5" height="5.5" data-reactid="432"></rect>
                                                </g>
                                                <g data-reactid="433">
                                                    <polygon class="st1" points="17.5,72 22.7,63 12.4,63      " data-reactid="434"></polygon>
                                                    <polygon class="st1" points="17.5,86.8 22.7,77.9 12.4,77.9      " data-reactid="435"></polygon>
                                                </g>
                                            </g>
                                            <g data-reactid="436">
                                                <circle class="st1" cx="79.9" cy="111.2" r="12.7" data-reactid="437"></circle>
                                                <circle class="st6" cx="79.9" cy="111.2" r="6.7" data-reactid="438"></circle>
                                                <line class="st6" x1="31.9" y1="111.2" x2="73" y2="111.2" data-reactid="439"></line>
                                                <line class="st6" x1="79.7" y1="104.3" x2="79.7" y2="57.3" data-reactid="440"></line>
                                            </g>
                                        </g>
                                    </svg>
                                    <div class="platform-left-3-svg-text posa tac fz12" data-reactid="441">
                                        <!-- react-text: 442 -->Return merchandise
                                        <!-- /react-text -->
                                        <br data-reactid="443" />
                                        <!-- react-text: 444 -->administration
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110.9 124.7" class="platform-left-3-svg" data-reactid="445">
                                        <g data-reactid="446">
                                            <polygon class="st0" points="72.1,8.9 77.3,0 66.9,0   " data-reactid="447"></polygon>
                                            <polygon class="st0" points="101.9,38.6 110.9,43.8 110.9,33.5   " data-reactid="448"></polygon>
                                            <circle class="st1" cx="59.4" cy="25.7" r="1.3" data-reactid="449"></circle>
                                            <circle class="st1" cx="65.7" cy="25.7" r="1.3" data-reactid="450"></circle>
                                            <circle class="st1" cx="72.1" cy="25.7" r="1.3" data-reactid="451"></circle>
                                            <circle class="st0" cx="78.4" cy="25.7" r="1.3" data-reactid="452"></circle>
                                            <circle class="st2" cx="84.7" cy="25.7" r="1.3" data-reactid="453"></circle>
                                            <circle class="st1" cx="59.4" cy="32" r="1.3" data-reactid="454"></circle>
                                            <circle class="st0" cx="65.7" cy="32" r="1.3" data-reactid="455"></circle>
                                            <circle class="st2" cx="72.1" cy="32" r="1.3" data-reactid="456"></circle>
                                            <circle class="st1" cx="78.4" cy="32" r="1.3" data-reactid="457"></circle>
                                            <circle class="st2" cx="84.7" cy="32" r="1.3" data-reactid="458"></circle>
                                            <circle class="st1" cx="59.4" cy="38.4" r="1.3" data-reactid="459"></circle>
                                            <circle class="st2" cx="65.7" cy="38.4" r="1.3" data-reactid="460"></circle>
                                            <circle class="st1" cx="72.1" cy="38.4" r="1.3" data-reactid="461"></circle>
                                            <circle class="st0" cx="78.4" cy="38.4" r="1.3" data-reactid="462"></circle>
                                            <circle class="st1" cx="84.7" cy="38.4" r="1.3" data-reactid="463"></circle>
                                            <circle class="st2" cx="59.4" cy="44.7" r="1.3" data-reactid="464"></circle>
                                            <circle class="st0" cx="65.7" cy="44.7" r="1.3" data-reactid="465"></circle>
                                            <circle class="st1" cx="72.1" cy="44.7" r="1.3" data-reactid="466"></circle>
                                            <circle class="st1" cx="78.4" cy="44.7" r="1.3" data-reactid="467"></circle>
                                            <circle class="st0" cx="84.7" cy="44.7" r="1.3" data-reactid="468"></circle>
                                            <circle class="st1" cx="59.4" cy="51.1" r="1.3" data-reactid="469"></circle>
                                            <circle class="st1" cx="65.7" cy="51.1" r="1.3" data-reactid="470"></circle>
                                            <circle class="st0" cx="72.1" cy="51.1" r="1.3" data-reactid="471"></circle>
                                            <circle class="st1" cx="78.4" cy="51.1" r="1.3" data-reactid="472"></circle>
                                            <circle class="st2" cx="84.7" cy="51.1" r="1.3" data-reactid="473"></circle>
                                            <rect x="47.7" y="13.9" class="st3" width="48.9" height="48.9" data-reactid="474"></rect>
                                            <g data-reactid="475">
                                                <polyline class="st3" points="37.4,9 37.4,3.7 42.6,3.7    " data-reactid="476"></polyline>
                                                <line class="st3" x1="47.9" y1="14.2" x2="38.1" y2="4.4" data-reactid="477"></line>
                                            </g>
                                            <g data-reactid="478">
                                                <polyline class="st3" points="42.7,73.1 37.4,73.1 37.4,67.8     " data-reactid="479"></polyline>
                                                <line class="st3" x1="47.9" y1="62.5" x2="38" y2="72.4" data-reactid="480"></line>
                                            </g>
                                            <g data-reactid="481">
                                                <polyline class="st3" points="101.7,3.7 107,3.7 107,9     " data-reactid="482"></polyline>
                                                <line class="st3" x1="96.5" y1="14.3" x2="106.4" y2="4.4" data-reactid="483"></line>
                                            </g>
                                            <rect x="53.2" y="19.5" class="st4" width="37.8" height="37.8" data-reactid="484"></rect>
                                            <line class="st3" x1="61.1" y1="105.3" x2="32" y2="105.3" data-reactid="485"></line>
                                            <line class="st5" x1="72.2" y1="57.3" x2="72.2" y2="94.2" data-reactid="486"></line>
                                            <g data-reactid="487">
                                                <g data-reactid="488">
                                                    <g data-reactid="489">
                                                        <circle class="st6" cx="21.8" cy="116.1" r="1.7" data-reactid="490"></circle>
                                                        <line class="st5" x1="21.7" y1="110.7" x2="21.7" y2="102.1" data-reactid="491"></line>
                                                    </g>
                                                    <polygon class="st3" points="21.8,87.6 0.9,123.8 42.7,123.8       " data-reactid="492"></polygon>
                                                </g>
                                            </g>
                                            <g data-reactid="493">
                                                <circle class="st4" cx="72.2" cy="105.3" r="11.1" data-reactid="494"></circle>
                                                <circle class="st2" cx="72.2" cy="105.3" r="5.1" data-reactid="495"></circle>
                                            </g>
                                            <g data-reactid="496">
                                                <polygon class="st0" points="42.3,38.6 33.3,43.8 33.3,33.5    " data-reactid="497"></polygon>
                                                <polygon class="st0" points="27.4,38.6 18.4,43.8 18.4,33.5    " data-reactid="498"></polygon>
                                            </g>
                                        </g>
                                    </svg>
                                    <div class="platform-left-4-svg-text posa tac fz12" data-reactid="499">
                                        <!-- react-text: 500 -->Kit &amp; supply
                                        <!-- /react-text -->
                                        <br data-reactid="501" />
                                        <!-- react-text: 502 -->ordering portal
                                        <!-- /react-text -->
                                    </div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.6 125.3" class="platform-left-4-svg" data-reactid="503">
                                        <g data-reactid="504">
                                            <g data-reactid="505">
                                                <circle class="st0" cx="46" cy="45.6" r="1.3" data-reactid="506"></circle>
                                                <circle class="st1" cx="46" cy="51.9" r="1.3" data-reactid="507"></circle>
                                                <circle class="st2" cx="39.6" cy="32.9" r="1.3" data-reactid="508"></circle>
                                                <circle class="st0" cx="39.6" cy="39.2" r="1.3" data-reactid="509"></circle>
                                                <circle class="st1" cx="39.6" cy="45.6" r="1.3" data-reactid="510"></circle>
                                                <circle class="st0" cx="39.6" cy="51.9" r="1.3" data-reactid="511"></circle>
                                                <circle class="st1" cx="33.3" cy="39.2" r="1.3" data-reactid="512"></circle>
                                                <circle class="st0" cx="33.3" cy="45.6" r="1.3" data-reactid="513"></circle>
                                                <circle class="st1" cx="33.3" cy="51.9" r="1.3" data-reactid="514"></circle>
                                                <circle class="st2" cx="27" cy="45.6" r="1.3" data-reactid="515"></circle>
                                                <circle class="st0" cx="27" cy="51.9" r="1.3" data-reactid="516"></circle>
                                                <circle class="st1" cx="20.6" cy="39.2" r="1.3" data-reactid="517"></circle>
                                                <circle class="st0" cx="20.6" cy="45.6" r="1.3" data-reactid="518"></circle>
                                                <circle class="st2" cx="20.6" cy="51.9" r="1.3" data-reactid="519"></circle>
                                                <circle class="st2" cx="46" cy="58.3" r="1.3" data-reactid="520"></circle>
                                                <circle class="st0" cx="39.6" cy="58.3" r="1.3" data-reactid="521"></circle>
                                                <circle class="st0" cx="33.3" cy="58.3" r="1.3" data-reactid="522"></circle>
                                                <circle class="st1" cx="27" cy="58.3" r="1.3" data-reactid="523"></circle>
                                                <circle class="st1" cx="20.6" cy="58.3" r="1.3" data-reactid="524"></circle>
                                            </g>
                                            <g data-reactid="525">
                                                <polygon class="st3" points="81.9,0.9 52,10.1 52,14.4 56.8,14.4 56.8,33.5 65.8,33.5 65.8,14.2 97.9,14.2 97.9,33.5 106.9,33.5 106.9,14.4 111.7,14.4 111.7,10.1 111.8,10.1     " data-reactid="526"></polygon>
                                                <rect x="75" y="26.6" class="st4" width="6.9" height="6.9" data-reactid="527"></rect>
                                                <rect x="75" y="19.7" class="st4" width="6.9" height="6.9" data-reactid="528"></rect>
                                                <rect x="81.9" y="26.6" class="st4" width="6.9" height="6.9" data-reactid="529"></rect>
                                            </g>
                                            <g data-reactid="530">
                                                <rect x="12.6" y="71.5" class="st4" width="6.9" height="6.9" data-reactid="531"></rect>
                                                <rect x="19.4" y="71.5" class="st4" width="6.9" height="6.9" data-reactid="532"></rect>
                                                <rect x="26.3" y="71.5" class="st4" width="6.9" height="6.9" data-reactid="533"></rect>
                                                <rect x="33.2" y="71.5" class="st4" width="6.9" height="6.9" data-reactid="534"></rect>
                                                <rect x="40" y="71.5" class="st4" width="6.9" height="6.9" data-reactid="535"></rect>
                                                <rect x="46.9" y="71.5" class="st4" width="6.9" height="6.9" data-reactid="536"></rect>
                                                <rect x="12.6" y="78.3" class="st4" width="6.9" height="6.9" data-reactid="537"></rect>
                                                <rect x="19.4" y="78.3" class="st4" width="6.9" height="6.9" data-reactid="538"></rect>
                                                <rect x="26.3" y="78.3" class="st4" width="6.9" height="6.9" data-reactid="539"></rect>
                                                <rect x="33.2" y="78.3" class="st4" width="6.9" height="6.9" data-reactid="540"></rect>
                                                <rect x="40" y="78.3" class="st4" width="6.9" height="6.9" data-reactid="541"></rect>
                                                <rect x="46.9" y="78.3" class="st4" width="6.9" height="6.9" data-reactid="542"></rect>
                                                <rect x="12.6" y="85.2" class="st4" width="6.9" height="6.9" data-reactid="543"></rect>
                                                <rect x="19.4" y="85.2" class="st4" width="6.9" height="6.9" data-reactid="544"></rect>
                                                <rect x="26.3" y="85.2" class="st4" width="6.9" height="6.9" data-reactid="545"></rect>
                                                <rect x="33.2" y="85.2" class="st4" width="6.9" height="6.9" data-reactid="546"></rect>
                                                <rect x="40" y="85.2" class="st4" width="6.9" height="6.9" data-reactid="547"></rect>
                                                <rect x="46.9" y="85.2" class="st4" width="6.9" height="6.9" data-reactid="548"></rect>
                                                <rect x="12.6" y="92" class="st4" width="6.9" height="6.9" data-reactid="549"></rect>
                                                <rect x="19.4" y="92" class="st4" width="6.9" height="6.9" data-reactid="550"></rect>
                                                <rect x="26.3" y="92" class="st4" width="6.9" height="6.9" data-reactid="551"></rect>
                                                <rect x="33.2" y="92" class="st4" width="6.9" height="6.9" data-reactid="552"></rect>
                                                <rect x="40" y="92" class="st4" width="6.9" height="6.9" data-reactid="553"></rect>
                                                <rect x="46.9" y="92" class="st4" width="6.9" height="6.9" data-reactid="554"></rect>
                                                <rect x="12.6" y="98.9" class="st4" width="6.9" height="6.9" data-reactid="555"></rect>
                                                <rect x="19.4" y="98.9" class="st4" width="6.9" height="6.9" data-reactid="556"></rect>
                                                <rect x="26.3" y="98.9" class="st4" width="6.9" height="6.9" data-reactid="557"></rect>
                                                <rect x="33.2" y="98.9" class="st4" width="6.9" height="6.9" data-reactid="558"></rect>
                                                <rect x="40" y="98.9" class="st4" width="6.9" height="6.9" data-reactid="559"></rect>
                                                <rect x="46.9" y="98.9" class="st4" width="6.9" height="6.9" data-reactid="560"></rect>
                                                <rect x="12.6" y="105.8" class="st4" width="6.9" height="6.9" data-reactid="561"></rect>
                                                <rect x="19.4" y="105.8" class="st4" width="6.9" height="6.9" data-reactid="562"></rect>
                                                <rect x="26.3" y="105.8" class="st4" width="6.9" height="6.9" data-reactid="563"></rect>
                                                <rect x="33.2" y="105.8" class="st4" width="6.9" height="6.9" data-reactid="564"></rect>
                                                <rect x="40" y="105.8" class="st4" width="6.9" height="6.9" data-reactid="565"></rect>
                                                <rect x="46.9" y="105.8" class="st4" width="6.9" height="6.9" data-reactid="566"></rect>
                                            </g>
                                            <rect x="5.3" y="64.1" class="st3" width="56.1" height="55.9" data-reactid="567"></rect>
                                            <circle class="st5" cx="5.6" cy="64.1" r="4.7" data-reactid="568"></circle>
                                            <circle class="st5" cx="61.2" cy="119.8" r="4.7" data-reactid="569"></circle>
                                            <line class="st4" x1="53.7" y1="92" x2="77.6" y2="92" data-reactid="570"></line>
                                            <line class="st4" x1="88.7" y1="80.9" x2="88.7" y2="33.5" data-reactid="571"></line>
                                            <circle class="st5" cx="88.7" cy="64.1" r="4.7" data-reactid="572"></circle>
                                            <g data-reactid="573">
                                                <circle class="st4" cx="88.7" cy="92" r="11.1" data-reactid="574"></circle>
                                                <circle class="st1" cx="88.7" cy="92" r="5.1" data-reactid="575"></circle>
                                            </g>
                                        </g>
                                    </svg>
                                    <div class="platform-left-5-svg-text posa tac fz12" data-reactid="576">Reporting</div>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110.3 124.8" class="platform-left-5-svg" data-reactid="577">
                                        <g data-reactid="578">
                                            <polyline class="st0" points="27.8,28.6 27.8,40.2 0.9,40.2 0.9,0.9 27.8,0.9 27.8,28.6   " data-reactid="579"></polyline>
                                            <polyline class="st0" points="33.2,15.2 33.2,6.2 28,6.2   " data-reactid="580"></polyline>
                                            <polyline class="st0" points="6.2,40.6 6.2,45.6 33.2,45.6 33.2,15.2   " data-reactid="581"></polyline>
                                            <line class="st1" x1="15.8" y1="32.3" x2="5.8" y2="32.3" data-reactid="582"></line>
                                            <line class="st1" x1="18.3" y1="24.6" x2="5.8" y2="24.6" data-reactid="583"></line>
                                            <line class="st1" x1="23.2" y1="16.8" x2="5.8" y2="16.8" data-reactid="584"></line>
                                            <line class="st1" x1="23.2" y1="9" x2="5.8" y2="9" data-reactid="585"></line>
                                            <path class="st1" d="M34.3,68.6" data-reactid="586"></path>
                                            <line class="st0" x1="19.7" y1="65.1" x2="19.7" y2="45.8" data-reactid="587"></line>
                                            <g data-reactid="588">
                                                <circle class="st2" cx="41" cy="44.2" r="1.3" data-reactid="589"></circle>
                                                <circle class="st2" cx="41" cy="37.9" r="1.3" data-reactid="590"></circle>
                                                <circle class="st3" cx="41" cy="31.5" r="1.3" data-reactid="591"></circle>
                                                <circle class="st2" cx="41" cy="25.2" r="1.3" data-reactid="592"></circle>
                                                <circle class="st3" cx="41" cy="18.8" r="1.3" data-reactid="593"></circle>
                                                <circle class="st2" cx="47.4" cy="37.9" r="1.3" data-reactid="594"></circle>
                                                <circle class="st4" cx="47.4" cy="31.5" r="1.3" data-reactid="595"></circle>
                                                <circle class="st2" cx="47.4" cy="25.2" r="1.3" data-reactid="596"></circle>
                                                <circle class="st2" cx="47.4" cy="18.8" r="1.3" data-reactid="597"></circle>
                                                <circle class="st4" cx="53.7" cy="37.9" r="1.3" data-reactid="598"></circle>
                                                <circle class="st3" cx="53.7" cy="25.2" r="1.3" data-reactid="599"></circle>
                                                <circle class="st4" cx="53.7" cy="18.8" r="1.3" data-reactid="600"></circle>
                                                <circle class="st3" cx="60" cy="37.9" r="1.3" data-reactid="601"></circle>
                                                <circle class="st2" cx="60" cy="25.2" r="1.3" data-reactid="602"></circle>
                                                <circle class="st4" cx="66.4" cy="25.2" r="1.3" data-reactid="603"></circle>
                                            </g>
                                            <path class="st5" d="M68.5,67.3L68.5,67.3c-15.7,0-28.3,12.7-28.3,28.3c0,15.6,12.7,28.3,28.3,28.3c15.6,0,28.3-12.7,28.3-28.3 H68.5V67.3z" data-reactid="604"></path>
                                            <path class="st0" d="M75.2,54.7V89h34.3l0,0C109.5,70,94.1,54.7,75.2,54.7z" data-reactid="605"></path>
                                            <circle class="st6" cx="99.5" cy="64.4" r="4.7" data-reactid="606"></circle>
                                            <g data-reactid="607">
                                                <circle class="st4" cx="19.7" cy="70.6" r="12.7" data-reactid="608"></circle>
                                                <g data-reactid="609">
                                                    <circle class="st5" cx="19.7" cy="70.6" r="6.7" data-reactid="610"></circle>
                                                </g>
                                            </g>
                                            <polyline class="st1" points="68.1,95.6 19.7,95.6 19.7,77.3   " data-reactid="611"></polyline>
                                            <polygon class="st7" points="99.7,54.7 104.9,45.8 94.6,45.8   " data-reactid="612"></polygon>
                                        </g>
                                    </svg>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110" class="platform-center-svg round-element bxsh10-10-35-lightgray" data-reactid="613">
                                        <circle class="st0" cx="55" cy="55" r="55" data-reactid="614"></circle>
                                        <g data-reactid="615">
                                            <line class="st2" x1="33.8" y1="47.8" x2="45.6" y2="47.8" data-reactid="616"></line>
                                            <line class="st2" x1="39.7" y1="59.2" x2="39.7" y2="48.1" data-reactid="617"></line>
                                            <path class="st2" d="M49.6,59.2v-8.8c0-1.7,1.4-3,3-3h0c1.7,0,3,1.4,3,3v4.2" data-reactid="618"></path>
                                            <path class="st2" d="M55.7,54.5v-4.2c0-1.7,1.4-3,3-3h0c1.7,0,3,1.4,3,3v8.8" data-reactid="619"></path>
                                            <path class="st2" d="M76.7,57.7c-2.3,2.3-6.1,2.3-8.5,0c-2.3-2.3-2.3-6.1,0-8.5c2.3-2.3,6.1-2.3,8.5,0" data-reactid="620"></path>
                                        </g>
                                        <g data-reactid="621">
                                            <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 53.85 53.95" to="360 53.85 53.95" dur="50s" repeatCount="indefinite" data-reactid="622"></animateTransform>
                                            <circle class="st2" cx="55.3" cy="53.3" r="34.4" data-reactid="623"></circle>
                                            <circle class="st1" cx="55.3" cy="19" r="8.5" data-reactid="624"></circle>
                                            <circle class="st3" cx="55.3" cy="19" r="4.5" data-reactid="625"></circle>
                                            <circle class="st4" cx="55.3" cy="87.7" r="8.5" data-reactid="626"></circle>
                                            <circle class="st5" cx="55.3" cy="87.7" r="4.5" data-reactid="627"></circle>
                                        </g>
                                    </svg>
                                </section>