<div class="featured-idea-tile mb200 posr span-12 mb400@sm">
    <a class="featured-idea-tile--image-container curp db oh h100% posa fll w60% w100vw@sm posa@sm ml-20@sm" href="{{ item.link }}"><img class="featured-idea-tile--image w100% transform-center-absolute" src="{{ item.thumbnail.src|resize(500) }}" alt="Post Image"></a>
    <div class="featured-idea-tile--content posr flr h100% w40% w100%@sm mt200@sm">
        <div class="idea-tile--container p20 bxsh10-10-35-lightgray bgc-white posr float-on-hover h350">
        	<a class="c-orange ff-produkt fvsc ls1 tdn" href="/our-ideas?category=blog-post">blog post</a>
        	<a class="tdn curp h100%" href="/our-ideas/five-ways-telehealth-helps-reduce-your-carbon-footprint">
        	<h3 class="heading-3 c-dark-blue fz20 ff-produkt tdn mt60">{{ item.title }}</h3>
        	<div class="site-content-defaults mt30 lh1.5 h100%"></div>
        	<div class="featured-idea-tile--read-more horizontal-align-absolute@sm bxsh10-10-35-lightgray posa l0 t320 w220 p20-0 ff-produkt bgc-orange c-white fvsc ls1 tac">read more</div></a>
        </div>
    </div>
</div>