.heart-svg {
  background-color: #f8f8f8;
  .st0{fill:none;stroke:#BDBEC0;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#51C0EE;}
  .st2{fill:none;stroke:#26235C;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#51C0EE;stroke:#26235C;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#F26550;}
}

.home-services1-svg {
  .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#51C0EE;}
  .st2{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#F26550;}
  .st4{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st5{fill:#26235C;}
}

.home-services2-svg {
  .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#51C0EE;}
  .st2{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#FFFFFF;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#FFFFFF;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st5{fill:#F26550;}
  .st6{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.home-oem-svg {
  .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#51C0EE;}
  .st2{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#F26550;}
  .st5{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.service-program-management-svg {
  width: 100%;
  height: 99px;
  .st0{fill:#4CC0EF;}
  .st1{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#F26450;}
}

.service-patient-support-svg {
  width: 100%;
  height: 97px;
  .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#51C0EE;}
  .st2{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#F26550;}
}

.service-logistics-svg {
  width: 100%;
  height: 96px;
  .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#51C0EE;}
  .st2{fill:#FFFFFF;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#F26550;}
}

.service-devices-svg {
  width: 100%;
  height: 73px;
  .st0{fill:#51C0EE;}
  .st1{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#F26550;}
}

.service-device-fulfillment-svg {
  width: 100%;
  height: 73px;
  .st0{fill:none;stroke:#BDBEC0;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#51C0EE;}
  .st3{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#F26550;}
}

.service-fda-compliance-svg {
  width: 100%;
  height: 64px;
  .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#F26550;}
  .st3{fill:#51C0EE;}
  .st4{fill:#FFFFFF;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.service-program-management-lg-svg {
  width: 100%;
  height: 318px;
  .st0{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#53BFEE;}
  .st2{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:none;stroke:#B9BBBD;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#F0644F;}
  .st5{fill:#F7F8F9;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st6{fill:#F7F8F9;stroke:#B9BBBD;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st7{fill:#B9BBBD;}
  .st8{fill:#56BEED;}
  .st9{fill:none;stroke:#24255B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st10{fill:#24255B;}
  .st11{fill:#F7F8F9;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st12{fill:#F7F8F9;stroke:#24255B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st13{fill:#F7F8F9;stroke:#25245B;stroke-width:1.7708;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.service-patient-support-lg-svg {
  width: 100%;
  height: 331px;
  .st0{fill:none;stroke:#B9BBBD;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#F7F8F9;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#53BFEE;}
  .st4{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st5{fill:#F0644F;}
  .st6{fill:#B9BBBD;}
  .st7{fill:#EE6450;}
  .st8{fill:#56BEED;}
  .st9{fill:none;stroke:#24255B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st10{fill:#F7F8F9;stroke:#B9BBBD;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st11{fill:#24255B;}
  .st12{fill:#F7F8F9;stroke:#24255B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st13{fill:none;stroke:#BDBEBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st14{fill:none;stroke:#211C52;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st15{fill:#F7F8F9;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.service-logistics-lg-svg {
  width: 100%;
  height: 331px;
  .st0{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:#F7F8F9;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#B9BBBD;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#53BFEE;}
  .st4{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st5{fill:#F0644F;}
  .st6{fill:none;stroke:#24255B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st7{fill:#B9BBBD;}
  .st8{fill:#EE6450;}
  .st9{fill:#56BEED;}
  .st10{fill:#24255B;}
  .st11{fill:none;stroke:#BABCBE;stroke-width:1.6379;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st12{fill:#F7F8F9;stroke:#B9BBBD;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st13{fill:#F7F8F9;stroke:#24255B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st14{fill:#F7F8F9;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.service-devices-lg-svg {
  width: 100%;
  height: 327px;
  .st0{fill:none;stroke:#B9BBBD;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:#53BFEE;}
  .st3{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:#F0644F;}
  .st5{fill:#56BEED;}
  .st6{fill:#B9BBBD;}
  .st7{fill:none;stroke:#24255B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st8{fill:#24255B;}
  .st9{fill:#F7F8F9;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st10{fill:#F7F8F9;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.highlight-expand-svg {
  width: 100%;
  height: 40px;
  .st0{fill:#FFFFFF;}
  .st1{fill:none;stroke:#F26450;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.highlight-quote-svg {
  width: 100%;
  height: 51px;
  .st0{fill:#FFFFFF;}
  .st1{fill:#BABCBE;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st2{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st3{fill:#24205C;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st4{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}

.video-play-button-svg {
  width: 100%;
  height: 65px;
  .st0{fill:none;stroke:#F26450;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:1.75;stroke-miterlimit:10;}
}

.platform-svg-group {
  $left-1: 0;
  $left-2: 170px;
  $left-3: 340px;
  $left-4: 500px;
  $left-5: 675px;
  $top-1: 0;
  $top-2: 130px;
  $top-3: 250px;
  $top-4: 370px;
  $top-5: 550px;
  $top-6: 680px;
  $top-7: 800px;

  $left-1-md: 0;
  $left-2-md: 33%;
  $left-3-md: 66%;
  $top-1-md: 0;
  $top-2-md: 130px;
  $top-3-md: 250px;
  $top-4-md: 370px;
  $top-5-md: 550px;
  $top-6-md: 680px;
  $top-7-md: 800px;

  .platform-right-1-svg-text {
    top: 135px;
    left: 173px;

    @media all and (max-width: $bp-md) {
      left: -2px;
    }

    @media all and (max-width: $bp-smx) {
      top: 32vw;
    }
  }

  .platform-right-2-svg-text {
    top: 260px;
    left: 335px;

    @media all and (max-width: $bp-md) {
      left: 33%;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(122px + 32vw);
    }
  }

  .platform-right-3-svg-text {
    top: 480px;
    left: 515px;

    @media all and (max-width: $bp-md) {
      top: 360px;
      left: 70%;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(225px + 32vw);
    }
  }

  .platform-right-4-svg-text {
    top: 685px;
    left: 515px;

    @media all and (max-width: $bp-md) {
      left: 69%;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(550px + 32vw);
    }
  }

  .platform-right-5-svg-text {
    top: 810px;
    left: 680px;

    @media all and (max-width: $bp-md) {
      top: 930px;
      left: 10px;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(800px + 32vw);
    }
  }

  .platform-left-1-svg-text {
    top: 264px;
    left: -2px;

    @media all and (max-width: $bp-md) {
      top: 135px;
      left: 65%;
    }

    @media all and (max-width: $bp-smx) {
      top: 32vw;
    }
  }

  .platform-left-2-svg-text {
    top: 380px;
    left: 165px;

    @media all and (max-width: $bp-md) {
      left: -2px;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(250px + 32vw);
    }
  }

  .platform-left-3-svg-text {
    top: 685px;
    left: 165px;

    @media all and (max-width: $bp-md) {
      left: -2px;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(550px + 32vw);
    }
  }

  .platform-left-4-svg-text {
    top: 810px;
    left: 350px;

    @media all and (max-width: $bp-md) {
      left: 36%;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(682px + 32vw);
    }
  }

  .platform-left-5-svg-text {
    top: 935px;
    left: 530px;

    @media all and (max-width: $bp-md) {
      left: 70%;
    }

    @media all and (max-width: $bp-smx) {
      top: calc(800px + 32vw);
    }
  }

  position: relative;
  height: 975px;

  svg {
    width: 110px;
    height: 110px;
    position: absolute;
    transition: .3s left, .3s top;

    @media all and (max-width: $bp-smx) {
      width: 30%;
    }
  }

  .platform-center-svg {
    width: 160px;
    height: 160px;
    top: $top-4;
    left: #{$left-3 - 25px};

    .st0{fill:#FFFFFF;}
    .st1{fill:#4CC0EF;}
    .st2{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3{fill:#4CC0EF;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st4{fill:#F8F8F9;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:#F26450;}

    @media all and (max-width: $bp-md) {
      top: $top-4-md;
      left: calc(#{$left-2-md} - 25px);
    }

    @media all and (max-width: $bp-sm) {
      background-color: none;
      box-shadow: none;
    }

    @media all and (max-width: $bp-smx) {
      width: 35%;
      left: 33%;
    }
  }

  .platform-right-1-svg {
    top: $top-1;
    left: $left-2;
    .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:#51C0EE;}
    .st3{fill:#F26550;}
    .st4{fill:#BABCBE;}
    .st5{fill:#25245B;}
    .st6{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st7{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-1-md;
      left: $left-1-md;
    }

  }

  .platform-right-2-svg {
    top: $top-2;
    left: $left-3;
    .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3{fill:#25245B;}
    .st4{fill:#53BFEE;}
    .st5{fill:#BABCBE;}
    .st6{fill:#51C0EE;}
    .st7{fill:#F26550;}
    .st8{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-2-md;
      left: $left-2-md;
    }
  }

  .platform-right-3-svg {
    top: $top-4;
    left: $left-4;
    .st0{fill:none;stroke:#BDBEC0;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#1E1852;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st4{fill:#F7F8F9;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:#25245B;}
    .st6{fill:#FFFFFF;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st7{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st8{fill:#53BFEE;}
    .st9{fill:#BABCBE;}
    .st10{fill:#F26550;}
    .st11{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-3-md;
      left: $left-3-md;
    }
  }

  .platform-right-4-svg {
    top: $top-5;
    left: $left-4;
    .st0{fill:#51C0EE;}
    .st1{fill:none;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#25245B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3{fill:#25245B;}
    .st4{fill:#F7F8F9;stroke:#26235C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st6{fill:#F7F8F9;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-5-md;
      left: $left-3-md;
    }
  }

  .platform-right-5-svg {
    top: $top-6;
    left: $left-5;
    .st0{fill:none;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:#F8F8F9;stroke:#26225B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:#50BFED;}
    .st3{fill:#BABCBE;}
    .st4{fill:#F26450;}
    .st5{fill:#4CC0EF;}
    .st6{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st7{fill:#26225B;}
    .st8{fill:none;stroke:#26225B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-7-md;
      left: $left-1-md;
    }
  }

  .platform-left-1-svg {
    top: $top-2;
    left: $left-1;
    .st0{fill:#4CC0EF;}
    .st1{fill:#BABCBE;}
    .st2{fill:#F26450;}
    .st3{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st4{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-1-md;
      left: $left-3-md;
    }
  }

  .platform-left-2-svg {
    top: $top-3;
    left: $left-2;
    .st0{fill:#FFFFFF;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:#4CC0EF;}
    .st2{fill:#BABCBE;}
    .st3{fill:#F26450;}
    .st4{fill:none;stroke:#26225B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st6{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-3-md;
      left: $left-1-md;
    }
  }

  .platform-left-3-svg {
    top: $top-5;
    left: $left-2;
    .st0{fill:#4CC0EF;}
    .st1{fill:#BABCBE;}
    .st2{fill:#F26450;}
    .st3{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st4{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:none;stroke:#26225B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st6{fill:#26225B;}

    @media all and (max-width: $bp-md) {
      top: $top-5-md;
      left: $left-1-md;
    }
  }

  .platform-left-4-svg {
    top: $top-6;
    left: $left-3;
    .st0{fill:#BABCBE;}
    .st1{fill:#F26450;}
    .st2{fill:#50BFED;}
    .st3{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st4{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st5{fill:#F8F8F9;stroke:#BABCBE;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    @media all and (max-width: $bp-md) {
      top: $top-6-md;
      left: $left-2-md;
    }
  }

  .platform-left-5-svg {
    top: $top-7;
    left: $left-4;
    .st0{fill:none;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#24205C;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2{fill:#BABCBE;}
    .st3{fill:#F26450;}
    .st4{fill:#50BFED;}
    .st5{fill:none;stroke:#26225B;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st6{fill:#F8F8F9;stroke:#BBBDBF;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st7{fill:#4CC0EF;}

    @media all and (max-width: $bp-md) {
      top: $top-7-md;
      left: $left-3-md;
    }
  }
}

$dashTime: ('1': 1, '1\\.5': 1.5, '2': 2, '3': 3) !default;
@each $name, $value in $dashTime {
  .dash-anim-#{$name}s {
    animation: dash #{$value}s ease-in-out;
    animation-play-state: paused;
  }

  .blink-anim-#{$name}s {
    animation: blinker #{$value}s infinite linear;
    animation-play-state: paused;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.fade-anim-1s {
  animation: fade 1s ease-in-out;
  animation-play-state: paused;
}
.fade-anim-1s.running {
  animation-play-state: running;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1,1);
  }
  1% {
    opacity: 1;
    transform: scale(1,1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

.alt-fade-anim-1s {
  animation: alt-fade 1s ease-in-out;
  animation-play-state: paused;
}

@keyframes alt-fade {
  0% {
    transform: scale(1,1);
  }
  10% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.05,1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tror50\% {
  transform-origin: 50% 50%;
}

.tror50\%--300\% {
  transform-origin: 50% -300%;
}

$aDelays: ('0': 0, '0\\.25': .25, '0\\.5': .5, '1': 1, '1\\.5': 1.5, '2': 2, '2\\.5': 2.5, '3': 3) !default;
@each $name, $value in $aDelays {
  .andl#{$name}s {
    animation-delay: #{$value}s;
  }
}

.stda100,
.stda400 {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.fade-anim-1s.op0,
.alt-fade-anim-1s.op0 {
  opacity: 1;
}

.can-animate {
  .stda400 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
  }

  .stda100 {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }

  .anfm-f {
    animation-fill-mode: forwards;
  }

  .anfm-b svg * {
    animation-fill-mode: backwards;
  }

  .anps-r svg * {
    animation-play-state: running;
  }

  .andir-r svg * {
    animation-direction: reverse;
  }

  .fade-anim-1s.op0,
  .alt-fade-anim-1s.op0 {
    opacity: 0;
  }
}

.an-n .stda100,
.an-n .stda400 {
  animation: none;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.an-n svg .fade-anim-1s.op0,
.an-n svg .alt-fade-anim-1s.op0 {
  animation: none;
  opacity: 1;
}
