.services-menu {
  .service-program-management-svg {
    margin-top: -47px;
  }

  .service-patient-support-svg {
    margin-top: -50px;
  }

  .service-logistics-svg {
    margin-top: -52px;
  }

  .service-devices-svg {
    margin-top: -30px;
  }
}
