{% if menu %}
	{% for item in menu %}
		<div data-reactid="56"><a class="navigation-menu--item reunderline thick no-initial fz32 fz24@sm tdn dib mt40 mt20@sm {{ item.classes|join(' ') }}" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a></div>
	{% endfor %}
{% endif %}
